@back-color: #fff;
@hover-color: #eee;
@border-color: #ddd;
@separator-color: #ccc;
@disabled-color: #666;
@font-color: #333;
@horizontal-padding: 20px;
@vertical-padding: 4px;

.context-menu {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1030;
    background-color: @back-color;
}

.context-menu ul {
    line-height: 1.6;
    padding: 0;
    margin: 0;
    border: 1px solid @border-color;
    box-shadow: @vertical-padding @vertical-padding (@vertical-padding * 2) rgba(0, 0, 0, 0.3);
}

.context-menu ul > li {
    padding: @vertical-padding @horizontal-padding;
    margin: 0;
    z-index: 1031;
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
    color: @font-color;
}

.context-menu ul > li:hover {
    background-color: @hover-color;
}

.context-menu ul > li.disabled, .context-menu ul > li.disabled a {
    color: @disabled-color;
    cursor: default;
}

.context-menu ul > li.checked:before {
    position: absolute;
    content: "\2713";
    left: 7px;
}

.context-menu ul > li.with-url {
    padding: 0;
}

.context-menu ul > li.with-url a {
    display: block;
    padding: @vertical-padding @horizontal-padding;
    text-decoration: none;
    color: @font-color;
}

.context-menu ul > li.separator {
    margin: @vertical-padding 0;
    padding: 0;
    border-bottom: 1px solid @separator-color;
    cursor: default;
}

.context-menu ul > li.separator:hover {
    background-color: @back-color;
}
